config.env
*auth_token.txt
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
accounts/*
Thumbnails/*
list_drives.txt
categories.txt
shorteners.txt
cookies.txt
downloads
buttons.txt
version.py
jmdkh_utils.py
aria2_download.py
gd_downloader.py
mega_downloader.py
qbit_downloader.py
telegram_downloader.py
yt_dlp_download_helper.py
gdflix.py
gdriveTools.py
message_utils.py
bot_updater.py
cancel_mirror.py
category_select.py
clone.py
drive_list.py
mirror_leech.py
listener.py
save_message.py
ytdlp.py